
master.mdf
.vs/ProjektPO/v15/.suo
.vs/ProjektPO/v15/sqlite3/storage.ide
.vs/ProjektPO/v15/sqlite3/db.lock
.vs/ProjektPO/v15/Server/sqlite3/storage.ide
.vs/ProjektPO/v15/.suo
.vs/ProjektPO/v15/Server/sqlite3/db.lock
.vs/ProjektPO/v15/sqlite3/storage.ide
.vs/ProjektPO/v15/.suo
mastlog.ldf
master_log.ldf
master.mdf
New Text Document.txt
ProjektPO/App.config
ProjektPO/App.config
ProjektPO/bin/Debug/AutoMapper.dll
ProjektPO/bin/Debug/AutoMapper.EF6.Extended.dll
ProjektPO/bin/Debug/DelegateDecompiler.dll
ProjektPO/bin/Debug/DelegateDecompiler.EntityFramework.dll
ProjektPO/bin/Debug/Mono.Reflection.dll
ProjektPO/bin/Debug/AutoMapper.xml
ProjektPO/bin/Debug/AutoMapper.EF6.dll
ProjektPO/bin/Debug/ProjektPO.exe
ProjektPO/bin/Debug/ProjektPO.pdb
ProjektPO/bin/Debug/ProjektPO.exe.config
ProjektPO/bin/Debug/ProjektPO.exe
ProjektPO/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ProjektPO/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ProjektPO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjektPO/obj/Debug/MainWindow.baml
ProjektPO/obj/Debug/ProjektPO.csproj.CoreCompileInputs.cache
ProjektPO/obj/Debug/ProjektPO.csproj.FileListAbsolute.txt
ProjektPO/obj/Debug/ProjektPO.csproj.GenerateResource.Cache
ProjektPO/obj/Debug/ProjektPO.csprojResolveAssemblyReference.cache
ProjektPO/obj/Debug/ProjektPO.g.resources
ProjektPO/obj/Debug/ProjektPO.Migrations.fourth.resources
ProjektPO/obj/Debug/ProjektPO.Migrations.second.resources
ProjektPO/obj/Debug/ProjektPO.pdb
ProjektPO/obj/Debug/ProjektPO_MarkupCompile.cache
ProjektPO/obj/Debug/ProjektPO_MarkupCompile.i.cache
ProjektPO/obj/Debug/ProjektPO_MarkupCompile.lref
ProjektPO/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
ProjektPO/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ProjektPO/obj
ProjektPO/bin
/.vs
/ProjektPO/bin
/ProjektPO/obj
/ProjektPO.UnitTest/obj
/ProjektPO.UnitTest/bin
/ProjektPO.UnitTest/bin
/ProjektPO.UnitTest/obj
/ProjektPO/bin
/ProjektPO/obj
/.vs
/ProjektPO/App.config
